.navbar {
    background-color: rgb(255, 255, 255);
    
}

.btn.custom-btn {
    font-family: 'Raleway', sans-serif;
    border: none;
    color: #3380CD;
    background-color: rgba(0,0,0,0);
}

a.btn.custom-btn.active.btn-primary {
    color: #3380CD;
    background-color: rgba(0,0,0,0);
}

div#basic-navbar-nav div a.item-style.nav-link {
    color: rgba(0, 0, 0, 0.8)
}



a.dropdown-item.active, a.dropdown-item:active {
    background-color: rgb(85,85,85);
    color: white;
}

#basic-nav-dropdown#basic-nav-dropdown {
    color: rgba(255,255,255,.8)
}
.color-bar {
    background-color: #00ff4c;
    height: 2px;
}